# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a
/obj_cooja
/COOJA.log
/.project
/.classpath
/.settings
/target
/src/main/java/com/cbt/ws/jooq
/.idea
/*.iml
/sublime.project.sublime-*
.DS_Store
